* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
  }
  
  .background {
    background: rgb(53, 48, 48);
    background-blend-mode: darken;
    background-size: cover;
  }
  
  .footer {
    background-color: rgb(49, 46, 45);
    color: #fff;
    text-align: center;
    padding: 20px; 
    /* margin-top: auto;  */
    bottom: 0;
    /* margin-top: 60px; */
  }
  .nav-list {
    width: 80%;
    height: 80px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    justify-content: centre;
    align-items: centre;
  }
  
  .logo img {
    width: 120px;
    height: 60px;
    border-radius: 60px;
  }
  
  .nav-list li {
    list-style: none;
    padding: 26px 30px;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #d4ff93;
  }
  .Rollno li p {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
  }
  .nav-list li a:hover {
    color: grey;
  }
  
  .rightnav {
    width: 50%;
    text-align: left;
  }
  
  .box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 100%;
    margin: auto;
    height: 100%;
  }
  
  .firsthalf {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .btn-sm1 {
    padding: 10px;
    vertical-align: middle;
    color: #000000;
    background-color: #ffffff;
    border-radius: 60px;
  }
  .btn-sm1:hover {
    background-color: rgb(49, 46, 45);
    color: #ffffff;
  }
  .btn-sm2 {
    padding: 10px;
    vertical-align: middle;
    color: #000000;
    background-color: #ffffff;
    border-radius: 60px;
  }
  .btn-sm2:hover {
    background-color: rgb(49, 46, 45);
    color: #ffffff;
  }
  .section {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 600px;
      /* z-index: -1; */
      background-image: url(img.jpeg);
      background-size: cover;
  }
  .gap{
    width: 300px;
  }
  .login-box {
    width: 300px;
    padding: 20px;
    background-color: rgb(249, 242, 242,0.7);
  }
  
  .login-box h2 {
    margin-bottom: 20px;
  }
  
  .login-box form {
    display: flex;
    flex-direction: column;
  }
  
  .login-box label {
    margin-bottom: 5px;
  }
  
  .login-box input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .login-box input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .login-box input[type="submit"]:hover {
    background-color: #555;
  }
  .text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    color: #fff;
  }